*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    background:#0d1117;

    color:#c9d1d9;

    font-family:Consolas, monospace;

}

a{

    color:#39ff14;

    text-decoration:none;

}

a:hover{

    color:white;

}

h1{

    font-size:4rem;

    margin:20px 0;

}

h2{

    margin-bottom:20px;

}

.command{

    color:#39ff14;

    margin-bottom:20px;

}